:root{
    --dark-green : #596D48;
    --light-gray: #E5E7EB;
    --pure-blue: #0000FF;
    --pure-white: #ffffff;
    --light-red : #ff0000;
    
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse Bold";
    src: url(../assets/fonts/norse-bold.otf);
}

body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-side{
    background: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    display: flex;
    align-items: center;
}

.left-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5)
    
}

.left-container p{
    font-size: 48px;
    color: var(--light-gray);
    font-family: "Norse Bold", sans-serif;
}

.right-side{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-gray);
}

.right-container{
    display: flex;
    flex-direction: column;
}

.paragraphs{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 15px;
    padding: 80px 50px 30px 50px;
}

.paragraphs p, .input-box p:first-child{
    font-weight: bold;
    font-size: 18px;
}

.input-box{
    background-color: var(--pure-white);
    padding: 30px 50px 30px 50px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
    font-size: 11px;
}

.name, .email-phone, .pass{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.first-name, .last-name, .email, .phone, .password, .confirm-password{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

button{
    background-color: var(--dark-green);
    color: var(--pure-white);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 30px 50px 30px 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.forms p:last-child{
    margin: 0px 50px 30px 50px;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: var(--dark-green);
    font-weight: bold;
}

input:focus{
    outline: none !important;
    border: 2px solid var(--pure-blue);
    box-shadow: 0 0 10px #719ECE;
  
}

input:invalid{
    outline: none !important;
    border: 2px solid var(--light-red);
    box-shadow: 0 0 10px #719ECE;
}
